@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

html,
body {
  border: 0;
  margin: 0;
  padding: 0;
  font: 14px;
  font-family: 'Nanum Pen Script', cursive;
  background-color: #444;
  text-align: center;
}

header,
main {
  padding: 24px 36px;
}

main {
  display: block;
  background-color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #eee !important;
}

header {
  color: #eee;
  background-color: #333;
  font-family: Consolas, monospace;
}

table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}

tr:nth-child(2n) {
  background-color: #eee;
}

th,
td {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 8px;
}

td:first-child {
  text-align: left;
}
